<!DOCTYPE html>
{% extends "zombieGame/base.html" %}
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">

{% load staticfiles %}

{% block content %}

<head>
    <meta charset="UTF-8">
    <title>ZOMBIE</title>

</head>
<body>
   {{ game }}  </br>
        <B>Player </b> Party size: {{party}}, Food: {{food}}, Ammo: {{ammo}}, Kills: {{kills}}, Time left in day: {{time}} </br>
       {{street}}</br>
           {% for house in house_list %}
                <a href="/zombieGame/house/">
                <img src="{% static "images/lhouse.jpeg" %}" alt=house />
                </a>
           {% endfor %}




</body>

{% endblock content %}

</html>
