<!doctype html>
{% extends "zombieGame/base.html" %}

<html xmlns="http://www.w3.org/1999/html">

<html lang="en">
<head>
	<h1 align="center">Leaderboard</h1>
	<h3><a href="/zombieGame/">HomePage</a></h3>
  <meta charset="utf-8">
  <title>Leaderboard</title>

  {% block content %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>

</head>
{% block bg %}
{% endblock bg %}
<body>


<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Survivors</a></li>
    <li><a href="#tabs-2">Killers</a></li>
    <li><a href="#tabs-3">Party</a></li>
  </ul>

  <div id="tabs-1">
    <p>Most days spend alive!</p>
    <hr>
        <div class="container">
            <div class="row">
            <div class="col-xs-1">
                {% for each in index %}
                    {{ each }}
                    <hr>
                {% endfor %}
            </div>
            <div class="col-xs-5">
                {% for each in days  %}
                    {{ each }}
                    <hr>
                {% endfor %}
            </div>
            <div class="col-xs-6">
                {% for each in days  %}
                    {{ each.days }}
                    <hr>
                {% endfor %}
            </div>
            </div>
        </div>
  </div>

  <div id="tabs-2">
    <p>Most zombies killed!</p>
    <hr>
        <div class="container">
            <div class="row">
            <div class="col-xs-1">
                {% for each in index %}
                    {{ each }}
                    <hr>
                {% endfor %}
            </div>
            <div class="col-xs-5">
                {% for each in kills  %}
                    {{ each }}
                    <hr>
                {% endfor %}
            </div>
            <div class="col-xs-6">
                {% for each in kills  %}
                    {{ each.kills }}
                    <hr>
                {% endfor %}
            </div>
            </div>
        </div>
  </div>

  <div id="tabs-3">
    <p>Largest party size!</p>
    <hr>
        <div class="container">
            <div class="row">
            <div class="col-xs-1">
                {% for each in index %}
                    {{ each }}
                    <hr>
                {% endfor %}
            </div>
            <div class="col-xs-5">
                {% for each in people  %}
                    {{ each }}
                    <hr>
                {% endfor %}
            </div>
            <div class="col-xs-6">
                {% for each in people  %}
                    {{ each.people }}
                    <hr>
                {% endfor %}
            </div>
            </div>
        </div>
  </div>

</div>


</body>

   {% endblock content %}

</html>