<!DOCTYPE html>
{% extends "zombieGame/base.html" %}

{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">

	<head>
		<title>Profiles</title>
	</head>

	{% block content %}

        <h1 style="text-align:center;">Profiles Page</h1>
        <h1>Welcome back {{ user.username }}!</h1>

	
	<body>
	{{ profile }}</br>
	<img src="{% static "{{picture}}" %}" alt = "Profile Picture" height="100" width="100" />
	<p>Best Kills: </p>{{profile.kills}}
	<p>Survival: </p>{{profile.days}}
	<P>Most friends: </P>{{profile.people}}</br>
	</body>
    <a href = "/zombieGame/logout/">Logout</a><br />

	</body>

	{% endblock content %}

</html>