<!DOCTYPE html>
{% extends "zombieGame/base.html" %}
{% load staticfiles %}
<html xmlns="http://www.w3.org/1999/html">

	<head>
		<title>Profiles</title>
	</head>

	{% block content %}

        <h1 style="text-align:center;">Profiles Page</h1>
        <h1>Welcome back {{ user.username }}!</h1>

	<body>
	User Name: {{ profile }}</br>
	<img src="{% static "{{profile.picture}}" %}" alt = "Profile Picture" height="100" width="100" />

	<p><b>Here are your stats:</b></p>
    <!-- Displaying stats-->
        <p>Kills: {{profile.kills}}</p>
	    <p>Days: {{profile.days}}</p>
	    <P>People:{{profile.people}}</p>

	<a href="/zombieGame/logout/">Logout</a><br />
	</body>

	{% endblock content %}

</html>